<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Welcome to dashboard</H1>
<a href="{{url_for('leaderboard')}}">VIEW LEADERBOARD</a>
 <div class="signup-page">
        <form class="signup" method="post" autocomplete="off" enctype="multipart/form-data">
            <h1>Add codeforces profile</h1>


            <div class="signup__field">
                <input class="signup__input" type="text" name="cf_handle" id="cf_handle"  />
                <label class="signup__label" >Codeforces Handle</label>
            </div>

            <div class="signup__field">
                <input class="signup__input" type="text" name="cc_handle" id="cc_handle"  />
                <label class="signup__label" >Codechef handle</label>
            </div>

            <input class="submit_button" type="submit" name="signup" id="btn-signup" value="Update">
        </form>
    </div>
<a href="{{url_for('logout')}}">LOG OUT</a>
</body>
</html>