<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>

<table class="table table-striped">
                      <thead>
                        <tr>
                            <th> User_Name</th>
                          <th> score </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for key,values in dict1.items() %}
                        <tr>
                            <td> <a href="{{url_for('viewProfile', friends_id=key)}}"> {{dict2.get(key)}} </a></td>
                            <td>{{values}}</td>

                        </tr>
                      {%endfor%}

                      </tbody>
                    </table>
</body>
</html>